
@{
    ViewData["Title"] = "Detail";
}

<h2>Working Board</h2>
<hr />

<div class="well row">
    <div class="col-md-3 text-center">
        <img src="https://dummyimage.com/200x200/000/fff" />
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-6">
                <dl>
                    <dt>Project Name</dt>
                    <dd>Simple Project</dd>
                    <dt>Project Manage</dt>
                    <dd>Anawat Mattamoltol</dd>
                    <dt>Create Date</dt>
                    <dd>19/01/2560</dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl>
                    <dt>Work process</dt>
                    <dd>0</dd>
                    <dt>Work done (percent)</dt>
                    <dd>0 (0%)</dd>
                </dl>
            </div>
        </div>
        <dl>
            <dt>Description</dt>
            <dd>Excepteur vivamus distinctio? Torquent necessitatibus, eros sodales fugit, inceptos, vero, vestibulum sollicitudin! Minima, quaerat ultricies aliqua, semper? Aenean? Congue magna, unde molestiae quae tortor? Eos gravida quibusdam duis mi iusto. Egestas eaque deleniti placerat provident explicabo imperdiet porro laborum voluptatum do harum! Commodi phasellus veritatis beatae labore laboriosam! Praesentium debitis? Porro sem! Dolor platea quaerat voluptatum, dui netus ornare voluptatum aliquet maiores nonummy! Corporis nec arcu, animi repellendus porta ad placerat, voluptatibus, vivamus eiusmod, omnis consectetur odit dolorem dictumst lacinia, senectus facilis similique inceptos? Occaecat adipisci! Eiusmod provident lacinia vehicula? Litora? Soluta repellendus volutpat. Tempus rem aliquip magnis pulvinar aperiam.</dd>
        </dl>
    </div>
</div>


