@model project_v2.Models.ProjectModel
@{
    ViewData["Title"] = "Create";
}

<h2>สร้างโปรเจคใหม่</h2>

<form asp-controller="Project" asp-action="Create" method="post" class="panel panel-primary">
    <div class="panel-body">

        <div class="row">

            <div class="form-horizontal col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="ProjectName"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="ชื่อของโปรเจค" asp-for="ProjectName" />
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-horizontal col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Description"></label>
                    <div class="col-sm-10">
                        <textarea class="form-control" placeholder="รายละเอียดของโปรเจค" rows="6" asp-for="Description"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-horizontal col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="LogoUrl"></label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" placeholder="รูปภาพโปรเจค" asp-for="LogoUrl" />
                    </div>
                </div>
            </div>

            <div class="form-horizontal col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Department"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="ชื่อแผนกสำหรับโปรเจค" asp-for="Department" />
                    </div>
                </div>
            </div>

            <div class="form-horizontal col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="CreateDate"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="@DateTime.Now.ToShortDateString()" disabled />
                    </div>
                </div>
            </div>

            <div class="form-horizontal col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="ClosingDate"></label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" value="@DateTime.Now" asp-for="ClosingDate" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-2">
                    <p class="text-danger">@ViewBag.ErrorMessage</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row col-sm-12 ">
            <div class="pull-right">
                <a asp-controller="Home" asp-action="Index" class="btn btn-default">ยกเลิก</a>
                <button type="submit" class="btn btn-primary">สร้างโปรเจค</button>
            </div>
        </div>
    </div>
</form>