
@{
    ViewData["Title"] = "Detail";
}

<a asp-controller="Project" asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ</a>

<div class="panel panel-primary" style="margin-top: 2em">
    <div class="panel-heading">รายละเอียดโปรเจค</div>
    <div class="panel-body">

        <!-- Project detail -->
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="https://about.canva.com/wp-content/uploads/sites/3/2016/08/Band-Logo.png" />
            </div>
            <div class="col-sm-8">
                <label>ชื่อโปรเจค</label>
                <p>ชื่อของโปรเจค</p>
                <label>รายละเอียด</label>
                <p>ชื่อของโปรเจค</p>
                <label>แผนก</label>
                <p>การบัญชี</p>
                <label>วันที่สร้างโปรเจค</label>
                <p>@DateTime.Now.ToShortDateString()</p>
                <label>วันที่เสร็จสิ้นโปรเจค</label>
                <p>@DateTime.Now.AddDays(60).ToShortDateString()</p>

                <div class="row">
                    <div class="col-sm-3 col-sm-offset-9">
                        <a asp-controller="Project" asp-action="Edit" class="btn btn-block btn-primary">แก้ไข</a>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <!-- Project member -->
        <div class="row">
            <div class="col-sm-2">
                <h3 style="margin-top: unset">สมาชิก (2)</h3>
            </div>
            <div class="col-sm-3 col-sm-offset-7">
                <a class="btn btn-block btn-success"><span class="glyphicon glyphicon-user"></span> จัดการสมาชิกภายในโปรเจค</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ</th>
                    <th>อีเมล์</th>
                    <th>ตำแหน่ง</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>เอิน</td>
                    <td>earn@gmail.com</td>
                    <td>ผู้จัดการ</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>กัปตัน</td>
                    <td>captain@gmail.com</td>
                    <td>หัวหน้าฝ่ายตลาด</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>