@model project_v2.Models.ProjectModel
@{
    ViewData["Title"] = "Index";
}

<a asp-controller="Home" asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ</a>

<div class="panel panel-primary" style="margin-top: 2em">
    <div class="panel-heading">ข้อมูลเบื้องต้นของโปรเจค</div>
    <div class="panel-body">
        <label asp-for="ProjectName"></label>
        <p>@Model.ProjectName</p>
        <label asp-for="Description">รายละเอียด</label>
        <p>@Model.Description</p>
        <label>สมาชิกทั้งหมด</label>
        <p>2</p>
        <label>งานทั้งหมด</label>
        <p>3/10 (33%)</p>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
                <a asp-controller="Project" asp-action="Detail" asp-route-projectid="@Model._id" class="btn btn-block btn-default">ดูรายละเอียดของโปรเจค</a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 2em">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a data-toggle="tab" href="#f1">Feature 1</a></li>
            <li><a data-toggle="tab" href="#f2">Feature 2</a></li>
            <li><a data-toggle="tab" href="#f3">Feature 3</a></li>
            <li><a asp-controller="Work" asp-action="CreateFeature" asp-route-projectid="@Model._id"><span class="glyphicon glyphicon-plus"></span> สร้างงานหลัก</a></li>
        </ul>
    </div>

    <div class="col-sm-10 panel panel-primary">
        <div class="tab-content ">
            <div id="f1" class="tab-pane fade in active">
                <div class="row" style="margin: 1em">
                    <p><b>สร้างโดย: </b>Earn</p>
                    <p><b>มอบหมายโดย: </b>Earn</p>
                    <p><b>ผู้รับมอบหมาย: </b>Captain</p>
                    <p><b>สถานะ: </b>เสร็จสิ้น</p>
                    <a class="btn btn-default">ดูรายละเอียด</a>
                    <a class="btn btn-danger">ลบ</a>
                </div>
                <div class="col-sm-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a data-toggle="tab" href="#s1">Story 1</a></li>
                        <li><a data-toggle="tab" href="#s2">Story 2</a></li>
                        <li><a data-toggle="tab" href="#s3">Story 3</a></li>
                        <li><a ><span class="glyphicon glyphicon-plus"></span> สร้างงานรอง</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 panel panel-danger">
                    <div class="tab-content">
                        <div id="s1" class="tab-pane fade in active">
                            <div class="row" style="margin: 1em">
                                <p><b>สร้างโดย: </b>Earn</p>
                                <p><b>มอบหมายโดย: </b>Earn</p>
                                <p><b>ผู้รับมอบหมาย: </b>Captain</p>
                                <p><b>สถานะ: </b>เสร็จสิ้น</p>
                                <a class="btn btn-default">ดูรายละเอียด</a>
                                <a class="btn btn-danger">ลบ</a>
                            </div>
                            <div class="col-sm-4">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="active"><a data-toggle="tab" href="#t1">Task 1</a></li>
                                    <li><a data-toggle="tab" href="#t2">Task 2</a></li>
                                    <li><a data-toggle="tab" href="#t3">Task 3</a></li>
                                    <li><a ><span class="glyphicon glyphicon-plus"></span> สร้างงานย่อย</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-8">
                                <div class="tab-content">
                                    <div id="t1" class="tab-pane fade in active">
                                        <h3>HOME</h3>
                                        <p>Some content.</p>
                                    </div>
                                    <div id="t2" class="tab-pane fade">
                                        <h3>Menu 1</h3>
                                        <p>Some content in menu 1.</p>
                                    </div>
                                    <div id="t3" class="tab-pane fade">
                                        <h3>Menu 2</h3>
                                        <p>Some content in menu 2.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="s2" class="tab-pane fade">
                            <h3>Menu 1</h3>
                            <p>Some content in menu 1.</p>
                        </div>
                        <div id="s3" class="tab-pane fade">
                            <h3>Menu 2</h3>
                            <p>Some content in menu 2.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="f2" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Some content in menu 1.</p>
            </div>
            <div id="f3" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Some content in menu 2.</p>
            </div>
        </div>
    </div>
</div>