@model project_v2.Models.ProjectModel
@{
    ViewData["Title"] = "Index";
}

<a asp-controller="Home" asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ</a>

<div class="panel panel-primary" style="margin-top: 2em">
    <div class="panel-heading">ข้อมูลเบื้องต้นของโปรเจค</div>
    <div class="panel-body">
        <label asp-for="ProjectName"></label>
        <p>@Model.ProjectName</p>
        <label asp-for="Description">รายละเอียด</label>
        <p>@Model.Description</p>
        <label>สมาชิกทั้งหมด</label>
        <p>2</p>
        <label>งานทั้งหมด</label>
        <p>3/10 (33%)</p>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
                <a asp-controller="Project" asp-action="Detail" asp-route-projectid="@Model._id" class="btn btn-block btn-default">ดูรายละเอียดของโปรเจค</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <a class="btn btn-block btn-primary"><span class="glyphicon glyphicon-plus"></span> สร้างงานหลัก</a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-block btn-success"><span class="glyphicon glyphicon-plus"></span> สร้างงานรอง</a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-block btn-warning"><span class="glyphicon glyphicon-plus"></span> สร้างงานย่อย</a>
    </div>
</div>

<ul class="nav nav-tabs" style="margin-top: 2em">
    <li class="active"><a data-toggle="tab" href="#Features">Feature (1)</a></li>
    <li><a data-toggle="tab" href="#Stories">Story (1)</a></li>
    <li><a data-toggle="tab" href="#Tasks">Task (1)</a></li>
</ul>

<div class="tab-content">
    <div id="Features" class="tab-pane fade in active">
        <table class="table">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ</th>
                    <th>สร้างโดย</th>
                    <th>มอบหมายโดย</th>
                    <th>ผู้รับมอบหมาย</th>
                    <th>สถานะ</th>
                    <th>ดูรายละเอียด</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>ระบบสามารถเข้าสู่ระบบให้แก้ผู้ใช้งานทั่วไปได้</td>
                    <td>เอิน</td>
                    <td>เอิน</td>
                    <td>กัปตัน</td>
                    <td>กำลังดำเนินการ</td>
                    <td><a class="btn btn-warning"><span class="glyphicon glyphicon-wrench"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="Stories" class="tab-pane fade">
        <table class="table">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ</th>
                    <th>สร้างโดย</th>
                    <th>มอบหมายโดย</th>
                    <th>ผู้รับมอบหมาย</th>
                    <th>สถานะ</th>
                    <th>ดูรายละเอียด</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>สร้างหน้าเข้าสู่ระบบ</td>
                    <td>เอิน</td>
                    <td>เอิน</td>
                    <td>กัปตัน</td>
                    <td>กำลังดำเนินการ</td>
                    <td><a class="btn btn-warning"><span class="glyphicon glyphicon-wrench"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="Tasks" class="tab-pane fade">
        <table class="table">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ</th>
                    <th>สร้างโดย</th>
                    <th>มอบหมายโดย</th>
                    <th>ผู้รับมอบหมาย</th>
                    <th>สถานะ</th>
                    <th>ดูรายละเอียด</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>ออกแบบ Wirefarm</td>
                    <td>เอิน</td>
                    <td>เอิน</td>
                    <td>กัปตัน</td>
                    <td>เสร็จสิ้น</td>
                    <td><a class="btn btn-warning"><span class="glyphicon glyphicon-wrench"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>