@model project_v2.Models.ProjectSystemViewModel
@{
    ViewData["Title"] = "ProjectSystem";
}

<h2>จัดการตำแหน่งงานทั้งระบบ</h2>
<hr />

<div class="row">
    <div class="col-sm-4">
        <h2>ตำแหน่งงาน</h2>
    </div>
    <div class="col-sm-2 col-sm-offset-6">
        <a class="btn btn-block btn-primary" asp-action="CreateRank"><span class="glyphicon glyphicon-plus"></span> เพิ่มตำแหน่งงาน</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th width="150">ชื่อตำแหน่ง</th>
                    <th>แก้ไขโปรเจค</th>
                    <th>เห็นงานทั้งหมด</th>
                    <th>แก้ไขงานทั้งหมด</th>
                    <th>มอบหมายงานให้คนอื่น</th>
                    <th>รับงานจากคนอื่น</th>
                    <th>จัดการสมาชิก</th>
                    <th>สร้างงานหลักได้</th>
                    <th>สร้างงานรองต่อจากงานหลักได้</th>
                    <th>สร้างงานย่อยต่อจากงานรองได้</th>
                    <th width="150"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var rank in Model.ranks)
                {
                    <tr>
                        <td>@rank.RankName</td>
                        <td>
                            @if (rank.CanEditProject)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </td>
                        <td>
                            @if (rank.CanSeeAllWork)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </td>
                        <td>
                            @if (rank.CanEditAllWork)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </td>
                        <td>
                            @if (rank.CanAssign)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </td>
                        <td>
                            @if (rank.BeAssigned)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </td>
                        <td>
                            @if (rank.CanManageMember)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </td>
                        <td>
                            @if (rank.CanCreateFeature)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </td>
                        <td>
                            @if (rank.CanCreateStoryUnderSelf)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </td>
                        <td>
                            @if (rank.CanCreateTaskUnderSelf)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </td>
                        <td class="text-right">
                            @if (rank._id != ViewBag.GuestRankId && rank._id != ViewBag.MasterRankId)
                            {
                                <a asp-action="EditRank" asp-route-rankid="@rank._id">แก้ไข</a>
                            }
                            else
                            {
                                <span><i>( ค่าเริ่มต้น )</i></span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-4">
        <h2>สถานะงาน</h2>
    </div>
    <div class="col-sm-2 col-sm-offset-6">
        <a class="btn btn-block btn-success" asp-action="CreateStatus"><span class="glyphicon glyphicon-plus"></span> เพิ่มสถานะของงาน</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th width="300">ชื่อสถานะ</th>
                    <th>ถือว่างานเสร็จหรือไม่</th>
                    <th>สามารถลบสถานะนี้ได้หรือไม่</th>
                    <th width="150"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var status in Model.status)
                {
                    <tr>
                        <td>@status.StatusName</td>
                        <td>
                            @if (status.IsWorkDone)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </td>
                        <td>
                            @if (status.Deletable)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </td>
                        <td class="text-right">
                            <a asp-action="EditStatus" asp-route-statusid="@status._id">แก้ไข</a>
                            @if (status._id == ViewBag.NewStatusId)
                            {
                                <i>( ค่าเริ่มต้น )</i>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>