@model IEnumerable<project_v2.Models.ProjectModel>
@{
    ViewData["Title"] = "Home Page";
    const int minimumProjectCount = 1;
}

<!-- Admin only -->
<div class="row">
    <div class="col-sm-3">
        <a asp-controller="Project" asp-action="Create" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-plus"></span> สร้างโปรเจค</a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-block btn-success"><span class="glyphicon glyphicon-user"></span> จัดการสมาชิกทั้งระบบ</a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-block btn-warning"><span class="glyphicon glyphicon-th-list"></span> จัดการตำแหน่งทั้งระบบ</a>
    </div>
</div>
<hr class="col-sm-12" />

<!-- Project list -->
<div class="row">

    <!-- Content -->
    @if (Model != null && Model.Count() >= minimumProjectCount)
    {
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">@item.ProjectName</div>
                    <div class="panel-body">
                        <p>@item.Description</p>
                        <a asp-controller="Project" asp-action="Index" asp-route-projectid="@item._id" class="btn btn-default btn-block" style="margin-top: 4em">ดูรายละเอียด</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <!-- Project not found -->
        <h1 class="col-sm-12 text-center">ไม่มีรายการโปรเจค</h1>
    }

</div>